.content{
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  gap: 92px;
}

@media screen and (max-width: 1024px) {
  .content{
    gap: 0;
  }
}

@media screen and (max-width: 544px) {
  .content{
    gap: 64px;
  }
}