.footer__text{
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  padding: 92px 0 24px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer__text{
    padding: 88px 0 24px;
  }
}


@media screen and (max-width: 544px) {
  .footer__text{
    line-height: 14px;
    padding: 64px 0 24px;
  }
}