.footer__copyright{
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  padding: 0 0 25px;
  margin: 0;
}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 544px) {
  .footer__copyright{
    line-height: 14px;
    padding: 65px 0 25px;
  }
}