.header__logo {
  display: flex;
  padding: 34px 0 0;
  margin: 0 auto 0;
  object-fit: contain;
  height: 70px;
  width: 254px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    height: 66px;
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    height: 52px;
    width: 188px;
    padding: 20px 0 0;
  }
}
