.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  align-items: center;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
  margin: 0 0 32px;
  max-width: 720px;
  text-align: center;
}

.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px;
  max-width: 720px;
  text-align: center;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-bottom: 90px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    margin: 0 0 25px;
  }
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 30px;
  }

  .lead__image {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
   .lead {
    margin:50px 0 64px;
  }
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }

  .lead__image {
    width: 100%;
    margin: 0 auto;
  }
}
