.main{
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 92px;
}

@media screen and (max-width: 1024px) {
  .main{
    gap: 90px;
  }
}

@media screen and (max-width: 544px) {
  .main{
    gap: 64px;
  }
}