.place{
  display: grid;
  max-width: 984px;
  margin: auto;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px 48px;
  grid-template-areas:
    "title artist"
    "image texts"
    "button texts";
  column-gap: 40px;
  row-gap: 48px;
}
.place__title {
  grid-area: title;
  margin: 0;
  max-width: 460px;
  max-height: 228px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: flex-end;
}
.place__title-criccieth {
  max-width: 440px;
}
.place__website {
  grid-area: artist;
  margin: 0;
  max-width: 456px;
  align-self: flex-end;
}
.place__url-heading {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}
.place__artist {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.place__image {
  grid-area: image;
  width: 100%;
  box-shadow: 10px 10px 25px 0px #00000080;
}
.place__image:hover {
  opacity: 0.5;
}
.place__paragraph {
  grid-area: texts;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.place__paragraph-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.place__frame {
  grid-area: button;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  padding: 13px 20px;
  border-radius: 4px;
  justify-self: flex-start;
  align-self: flex-start;
}
.place__frame:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px #00000040;
}
.place__frame-paragraph {
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 315px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 1024px) {
  .place__box {
    max-width: 720px;
    grid-template-columns: 355px 1fr;
    grid-template-rows: auto 340px auto;
    column-gap: 13px;
  }
  .place__title {
    max-width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }
  .place__image {
    max-width: 340px;
    width: 100%;
  }
  .place__website {
    max-width: 352px;
  }
  .place__paragraph {
    gap: 25px;
    max-width: 352px;
  }
  .place__paragraph-text {
    font-size: 16px;
  }
  .place__frame {
    align-self: flex-start;
    max-height: 48px;
  }
}

@media screen and (max-width: 544px) {
  .place__box {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 320px auto auto;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
  }
  .place__title {
    grid-area: title;
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
  .place__website {
    grid-area: artist;
    min-width: 288px;
    align-self: auto;
    padding: 0 16px;
  }
  .place__image {
    grid-area: image;
    width: 100%;
    max-width: 320px;
  }
  .place__paragraph {
    grid-area: text;
    max-width: 288px;
    padding: 0 16px;
  }
  .place__frame {
    grid-area: button;
    margin: 0 auto;
  }
  .place__frame-paragraph {
    font-size: 14px;
  }
}
