.places{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places{
    gap: 72px;
  }
}

@media screen and (max-width: 544px) {
  .places{
    gap: 50px;
    padding: 0;
  }
}